/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2017, 11:35:08 AM
    Author     : codefun
*/

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}